*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;

}
html{
    scroll-padding-top: 4.4rem;
}
:root{
    --primary-color:white;
    --secondary-colora:rgb(185, 75, 245);
    --third-color:rgb(177, 177, 177);
    --poster-fontfamily:'Poppins', sans-serif;
}
header{
    width: 100%;
    height: 70px;
   
}
.navbar{
    width: 100%;
    height: 70px;

    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.logo{
    width: 40%;
    height: 70px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a{
    color: var(--secondary-colora);
    font-size: 1.50rem;
    font-weight: bold;
    font-family: var(--poster-fontfamily);
}
.navlinks{
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.navlinks li {
    list-style-type: none;
}
.navlinks li a{
    text-decoration: none;
    font-size: 1.10rem;
    color: rgb(182, 182, 182);
    font-family: var(--poster-fontfamily);
    padding: 10px;
}
#checkbox{
    display: none;
}
#menu-bar{
    width: 100%;
    height: 70px;
    font-size: 2rem;

    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1%;
    display: none;
}
#poster{
    width: 100%;
    height: 680px;
    background-image: url(image/welcome-banner.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
   position: relative;
 
   
}
#poster::before{
    content: ' ';
 
    position: absolute;
    inset: 0;
    width: 100%;
    height: 680px;
    background: rgba(31,44,108,.65);
   
}
.mainposter{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.mainposter h1
    {
        font-size: 4rem;
        font-weight: 700;
        font-family: var(--poster-fontfamily);
        color: white;
      

}
.mainposter h1 span{
    color: var(--secondary-colora);
    font-size: 4rem;
}
.mainposter p{
    font-size: 1.80rem;
    color: white;
    text-align: center;
    font-family: var(--poster-fontfamily);
    letter-spacing: 1px;
    margin-top: 2%;
}
.mainposter button{
    font-size: 1rem;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--poster-fontfamily);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 2%;
    margin-top: 2%;
    background-color: var(--secondary-colora);
}
#about{
    width: 100%;
    height: auto;
    
}
.main-about{
    width: 100%;
    height: auto;

}
.mb1{
    height: 75px;
    border-bottom: 1px solid rgb(196, 195, 195);
    padding: 2%;
}
.mb1 h1{
    font-family: var(--poster-fontfamily);
    color: black;
    font-size: 1.40rem;
    line-height: 1.1;
   
}
.mb2{
    display: flex;
    justify-content: center;
    padding: 2%;
 
}
.main-ab{
    width: 85%;
    height: auto;
  
    display: flex;
    gap: 30px;
}
.about-content{
    width: 100%;
    height: auto;
  
}
.ac1 p{
    font-size: 21px;
    font-family: var(--poster-fontfamily);
    line-height: 1.5;
    text-align: left;
    padding: 2%;
}
.ids{
    width: 100%;
    height: 120px;
    border-top: 1px solid rgb(150, 150, 150);
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.socapp h3{
    font-size: 1.40rem;
    opacity: 0.5;
    font-family: var(--poster-fontfamily);
    font-weight: 400;



}
.socapp span{
    font-size: 1rem;
    opacity: 0.5;
    font-family: var(--poster-fontfamily);
    font-weight: 400;
    padding-top: 10%;
 
}
.ac2{
    width: 80%;
    background-image: url(image/profile_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.ac2:before{
    position: absolute;
    content:'';
    width: 100%;
    height: 100px;
    background: rgba(31,44,108,.65);
    bottom: 0%;

}
.acabout{
    position: absolute;
    width: 100%;
    height: 100px;
    background: rgba(31,44,108,.65);
    bottom: 0%;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.solicalinks{
    width: 100%;
    height:100px ;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.solicalinks li{
    list-style-type: none;

}
.solicalinks li a{
    font-size: 1.50rem;
    color: var(--primary-color);
    padding: 2%;
   
    
}
#education{
    width: 100%;
    height: auto;
    margin-top: 4%;
    background-color: whitesmoke;
}
.main-edu{
    width: 100%;
    height: auto;
 
}
.me1{
    height: auto;
    border-bottom: 1px solid rgb(211, 211, 211);
    padding: 2%;

}
.me1 h1{
    font-family: var(--poster-fontfamily);
    font-size: 1.50rem;
    line-height: 1.1;
    opacity: 0.9;
    
}
.me2{
 
    display: flex;
    justify-content: center;
    gap: 10px;
}
.med{
    width: 80%;
    height: auto;
  
    display: flex;
    justify-content: center;
}

.edu{
    width: 100%;
    height: auto;
   
    padding: 2%;

}
.edu h3{
    font-size: 1.30rem;
    font-family: var(--poster-fontfamily);
    opacity: 0.8;
    font-weight: 400;
    letter-spacing: 1px;
}
.edu p{
      font-size: 1rem;
    font-family: var(--poster-fontfamily);
    font-weight: 300;
    margin-top: 1%;
    opacity: 0.5;
}

.edu span{
     font-size: 60px;
   color: var(--secondary-colora);
   padding: 0%;
 

}
.line{
    width: 26%;
    position: absolute;
    height: 2px;
    background-color: rgb(161, 158, 158);
    margin-top: -17px;
    margin-left: 11px;
   
}
.edu h2{
    font-size: 1.20rem;
    font-weight: 390;
    font-family: var(--poster-fontfamily);
    opacity: 0.9;
}
.ed{
    font-size: 1.50rem;
    font-family: var(--poster-fontfamily);
    padding-top: 3%;
    opacity: 0.5;
    line-height: 1.4;
    font-weight: 500;
}
#skill{
    width: 100%;
    height: auto;
 
    margin-top: 2%;
}
.skills{
    width: 100%;
    height: auto;

}
.s1{
    height: auto;
    padding: 3%;
    border-bottom: 1px solid rgb(164, 163, 163);
}
.s1 h1{
    font-family: var(--poster-fontfamily);
    font-size: 1.50rem;
    line-height: 1.1;
    opacity: 0.9;
}
.s2{
    display: flex;
    justify-content: center;
    padding:2%;
    
}
.main-skill{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    
}
.skill-boxes{
  
    padding: 2%;
    width: 100%;
 
}
.skill-boxes label{
  font-size: 1.50rem;
  font-weight: 350;
  opacity: 0.5;
  font-family: var(--poster-fontfamily);

}
.linesperc{
    width: 100%;
    height: 20px;
    display: flex;
    gap: 10px;
    margin-top: 4%;
}
.range{
    width: 95%;
    height: 12px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
}
.color{
    border-radius: 10px;
}
.linesperc p{
    font-size: 1.30rem;
    font-weight: bold;
    font-family: var(--poster-fontfamily);
    color: var(--secondary-colora);
}
#profiles{
    width: 100%;
    height: auto;
    border: 2px solid red;
}
.main-profile{
    width: 100%;
    height: 500px;
}
.mp1{
    height: auto;
    padding:3%;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(208, 208, 208);
}
.mp1 h1{
    font-family: var(--poster-fontfamily);
    font-size: 1.50rem;
    line-height: 1.1;
    opacity: 0.9;
}
.mp2{
    display: flex;
    justify-content: center;
}
.main-profiless{
    width: 80%;
 
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.profile-boxes{
    border: 1px solid rgb(223, 222, 222);
}